h1{
    text-align: center;
    background-color: cadetblue;
}
.container{
    height: 50px;
    width: 50px;
    /* display:inline-block; */
    display: flex;
    justify-content: center;
  margin-top: 30px;
  /* border: 2px solid black; */

}